@model Agro360.Models.ViewModels.FarmerReportVM
@{
    Layout = "~/Layouts/User/_Layout.cshtml";
    ViewData["Title"] = "View Report";
}


<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <span class="h2">View Report Details</span>
                <a asp-area="Farmer" asp-controller="Home" asp-action="Index" class="btn btn-success float-right"><i class="fas fa-arrow-left"></i> &nbsp;Back</a>
            </div>
            <div class="card-body">



                <div class="form-group row">
                    <label class="col-sm-2" asp-for="@Model.CreatedDate"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" disabled value="@Model.CreatedDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2" asp-for="@Model.CreatedTime"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" disabled value="@Model.CreatedTime">
                    </div>
                </div>



                <div class="form-group row">
                    <label class="col-sm-2" asp-for="@Model.HarvestType"></label>
                    <div class="col-sm-10">
                        <input type="text" disabled class="form-control" value="@Model.HarvestType">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2" asp-for="@Model.Quantity"></label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" disabled value="@Model.Quantity">
                                <div class="input-group-append">
                                    <div class="input-group-text">Kg</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Images</label>
                    <div class="col-sm-10 d-flex justify-content-center" >

                        <div id="carouselExampleSlidesOnly" class="carousel slide"   data-interval="false" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                @for (int i = 0; i < Model.ImageLinks.Count; i++)
                                {
                                    if (i == 0)
                                    {

                                        <div class="carousel-item active ">
                                            <img src=@Model.ImageLinks[i] class="img-responsive" style=" height: 400px;" >
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="carousel-item ">
                                            <img src=@Model.ImageLinks[i] class="img-responsive" style=" height: 400px;" >
                                        </div>
                                    }

                                }
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

